<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Profile Details</h1>
        {% if profile.photo %}
            <img src="{{profile.photo.url}}" alt="profile-photo" style="width: 200px;height:200px">
        {% else %}
            <p class="text">User does not have profile image</p>
        {% endif %}
        <p>{{profile.first_name}}</p>
        <p>{{profile.last_name}}</p>
        <p>{{profile.tg_username}}</p>
        <p>{{profile.bio}}</p>
        <p>{{profile.birthdate}}</p>
        <p>{{profile.gender}}</p>
        <p>{{profile.display_interests}}</p>
</body>
</html>