<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title>
</head>
<body>
    <h1>Matches</h1>
    {% if matches %}
        {% for match in matches  %}
            <a href="{% url 'datum:user' match.user_requested.id %}"><p>{{match.get_match}}</p></a>
        {% endfor %}
    {% else %}
            <p>No matches are available.</p>
    {% endif %}
    

</body>
</html>