<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div style="border: solid 1px;display:inline-block">
    {% for profile in profiles %}
        <a href="{% url 'datum:profile' profile.pk %}"><p>{{profile.tg_username}}</p></a>
        <p>{{profile.first_name}}</p>
        <p>{{profile.last_name}}</p>
        <p>{{profile.birthdate}}</p>
        <p>{{profile.bio}}</p>
    {% endfor %}
</div>
</body>
</html>